body{
  overflow: initial;
}

h1{
  max-width: 80%;
}

@media screen and (max-width: 991px)
{
  .AINav > li > a{
    padding: 10px 20px !important;
    border-bottom: none !important;
  }
  .AINav > li > a:hover{
    border-bottom: none !important;
  }
}

.ContentMain{
  margin-bottom: 40px;
}
footer .BottomMain{
  height: 20px;
}

.carousel{
  height: 200px;
}
@media screen and (min-height: 300px) and (min-width: 600px)
{
  .carousel{
    height: 300px;
  }
}
@media screen and (min-height: 400px) and (min-width: 700px)
{
  .carousel{
    height: 400px;
  }
}
@media screen and (min-height: 500px) and (min-width: 800px)
{
  .carousel{
    height: 500px;
  }
}
@media screen and (min-height: 600px) and (min-width: 900px)
{
  .carousel{
    height: 600px;
  }
}
@media screen and (min-height: 720px) and (min-width: 1000px)
{
  .carousel{
    height: 720px;
  }
}

.carousel .slider-wrapper{
  height: 100%;
}
.carousel .control-arrow{
  min-width: inherit;
}
.carousel .slider{
  height: 100%;
}
.carousel .slide > div{
  height: 100%;
}
.carousel .slide img{
  width: inherit;
  height: 100%;
}
.carousel .slide .legend{
  opacity: 1;
}
@media screen and (min-width: 991px){
  .carousel .control-arrow{
    min-width: 75px;
  }
  .carousel .control-prev.control-arrow::before {
    border-right: 16px solid #fff;
  }
  .carousel .control-next.control-arrow::before {
    border-left: 16px solid #fff;
  }
  .carousel .control-arrow::before, .carousel.carousel-slider .control-arrow::before {
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent
  }
}
