.aside-articles {
  margin-top: 48px;
}
.aside-articles .articles {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "a0"
                       "a1"
                       "a2"
                       "a3";
}

@media(min-width:650px) {
  .aside-articles .articles {
    grid-template-areas: "a0 a1"
                         "a2 a3";
  }
}

.aside-articles .articles .article.article-0{
  grid-area: a0;
}
.aside-articles .articles .article.article-1{
  grid-area: a1;
}
.aside-articles .articles .article.article-2{
  grid-area: a2;
}
.aside-articles .articles .article.article-3{
  grid-area: a3;
}

.home-map{
  text-align: center;
}